.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 2em 5em;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 1em;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

#home-button {
  max-height: 60px;
}